<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
        <main class="profile">
            BIENVENIDX! <u><%= locals.logged.name %> </u><br/>
            <img width="100%" src="<%= locals.logged.image %>">
        </section>


   </main>

   <div id="space-x-banner"></div>

   <%- include('../partials/footer') %>
</body>
</html> 